<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a href="#">SCADA</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item">
          <a href="login">Login</a>
        </li>
        <li class="navbar-item">
          <a href="registration">Register</a>
        </li>
        <li class="navbar-item">
          <a href="trending">Trending</a>
        </li>
        <li class="navbar-item">
            <a href="tags">Tags</a>
        </li>
        <li class="navbar-item">
            <a href="alarms">Alarms</a>
        </li>
        <li class="navbar-item">
            <a href="reports">Reports</a>
        </li>
      </ul>
    </div>
  </nav>
  