<div class="tag-values-container">
    <h2>Trending</h2>
    <table class="tag-values-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>IOAddress</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags">
          <td>{{ tag.id }}</td>
          <td>{{ tag.name }}</td>
          <td>{{ tag.description }}</td>
          <td>{{ tag.ioAddress }}</td>
          <td>{{ tag.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  